/* variables */
:root{
    --purple-background: rgb(98, 0, 255);
    --grey: rgb(68, 68, 68);
    --dark-grey: rgb(19, 19, 19);
    --green: rgb(0, 255, 157);
    --light-green: rgb(168, 255, 222);
}

/* styles */
.width{
    width: 85%;
    margin: 0 auto;
}
.purple-title{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    color: var(--purple-background);
    margin-bottom: 30px;
}
.green-title{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    color: var(--green);
    margin-bottom: 30px;
}
.white-title{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}
.big-text{
    font-family: "Patrick Hand", cursive;
    font-size: 25px;
    color: var(--grey);
}
.small-text{
    font-family: "Comic Neue";
    font-size: 18px;
}
.center{
    text-align: center;
}
.button{
    background-color: rgb(98, 0, 255);
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-top: 30px;
    transition: all 0.5s ease;
}
.button:hover{
    background-color: var(--green);
}