/* 
1024px
768px
480px
320px 
*/

/* header and hero page */
@media only screen and (max-width:768px){
    .header.toggle-header{
        height: 100vh;
        z-index: 2;
    }
    .nav-ul.toggle-nav-ul{
        display: flex;
        flex-direction: column;
        height: 400px;
        margin-top: 50px;
    }
    .header-wraper.toggle-header-wraper{
        flex-direction: column;
        padding-top: 20px;
    }
    .burger{
        display: block;
    }
    .nav-ul{
        display: none;
    }
    .hero-page-wraper{
        width: 80%;
    }
    .dots-wraper{
        width: 60%;
    }
}

/* promotion section */
@media only screen and (max-width:1000px){
    .promote div img{
        width: 400px;
    }
}
@media only screen and (max-width:768px){
    .promote{
        flex-direction: column-reverse;
    }
    .promote div{
        margin-top: 30px;
    }
    .we-offer{
        text-align: center;
    }
}
@media only screen and (max-width:480px){
    .promote div img{
        width: 300px;
    }
}

/* team section*/
@media only screen and (max-width: 1000px){
    #team{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 480px){
    #team{
        grid-template-columns: 1fr 1fr;
    }
}

/* testimonials section */
@media only screen and (max-width: 768px){
    .testimonials-wraper{
        flex-direction: column;
    }
    .testimonial{
        width: 100%;
        margin-top: 30px;
    }
}

/* lab */
@media only screen and (max-width:768px){
    .slide-box{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .slide-img{
        margin-top: 20px;
    }
    .slide-div{
        margin-left: 0;
    }
    .filter-input{
        width: 70%;
    }
}
@media only screen and (max-width:600px){
    .filter-input{
        width: 90%;
    }
}

@media only screen and (max-width:360px){
    .slide-img{
        width: 250px;
    }
}

/* pricing */
@media only screen and (max-width:768px){
    .pricing{
        grid-template-columns: 1fr;
    }
    .pricing-title{
        font-size: 30px;
    }
}

/* login & register */
@media only screen and (max-width:610px){
    .login-panel{
        width: 100%;
    }
}










/* footer */
@media only screen and (max-width: 768px){
    .footer-wraper{
        flex-direction: column;
        align-items: center;
    }
    .footer-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .footer-ul{
        text-align: center;
    }
}
@media only screen and (max-width: 480px){
    .footer-media{
        width: 100%;
    }
}