/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "Balsamiq Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Nunito", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Patrick+Hand&display=swap');
/* font-family: "Patrick Hand", cursive; */ 
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Comic Neue", cursive; */


/* quick acces */
:root{
    --purple-background: rgb(98, 0, 255);
    --grey: rgb(68, 68, 68);
    --dark-grey: rgb(19, 19, 19);
    --green: rgb(0, 255, 157);
    --light-green: rgb(168, 255, 222);
}
.width{
    width: 85%;
    margin: 0 auto;
}
.purple-title{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    color: var(--purple-background);
    margin-bottom: 30px;
}
.green-title{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    color: var(--green);
    margin-bottom: 30px;
}
.big-text{
    font-family: "Patrick Hand", cursive;
    font-size: 25px;
    color: var(--grey);
}
.small-text{
    font-family: "Comic Neue";
    font-size: 18px;
}
.center{
    text-align: center;
}
.button{
    background-color: rgb(98, 0, 255);
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-top: 30px;
    transition: all 0.5s ease;
}
.button:hover{
    background-color: var(--green);
}

/* javascript */
.slide-up {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.5s ease;
}
.slide-up.active {
    opacity: 1;
    transform: translateY(0);
}

/* header */
header{
    background-color: white;
    box-shadow: 2px 2px 10px grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header-wraper{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo-a{
    text-decoration: underline;
    text-shadow: 2px 2px 2px black;
    color: white;
}
.logo-img{
    width: 130px;
}
.nav-ul{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-li{
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 20px;
    position: relative;
}
.line-li:after{
    content: " ";
    position: absolute;
    top: 25px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--green);
}
.line-li:hover:after{
    width: 100%;
    color: var(--purple-background);
    transition: all 0.5s ease-out;
}
.register{
    background-color: var(--purple-background);
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    transition: all 0.7s ease;
}
.register:hover{
    background-color: var(--green);
}
.log-in{
    border: solid 2px var(--purple-background);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    transition: all 0.7s ease;
}
.log-in:hover{
    background-color: var(--light-green);
}
.burger{
    display: none;
}

/* hero section */
.hero-page{
    background-image: url(/images/hero-bg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
    top: 0;
    left: 0;
}
.hero-page-content-wraper{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 100px;
}
.hero-title{
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
}
.hero-description{
    font-family: "Patrick Hand", cursive;
    font-size: 30px;
    margin-bottom: 20px;
}
.button-a{
    color: white;
}

/* promote section */
.promote-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.promote{
    display: flex;
    justify-content: center;
    align-items: center;
}
.promote div img{
    width: 500px;
}
.li-promote::before{
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
    color: var(--green);
    font-size: 23px;
    line-height: 3;
}

/* team section */
.team-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.team-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#team{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.name-avatar-wraper{
    width: 16.666%;
    padding: 0 35px 0 35px;
    display: flex;
    justify-content: space-around;
}
.user-name{
    margin-top: 50px;
    font-size: 17.7px;
    font-family: "Comic Neue";
    color: var(--purple-background);
    text-align: center;
    font-weight: bold;
}
.avatar{
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 100px;
    cursor: pointer;
}

/* testimonials section */
.testimonials-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--purple-background);
}
.testimonials-wraper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.testimonial{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}
.testimonial img{
    width: 50%;
    border-radius: 50%;
}

/* FAQ section */
.faq-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.question{
    color: var(--grey);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.answer{
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    display: none;
}
.active-question, .question:hover {
  background-color: var(--green);
  color: white;
  transition: all 0.7s ease;
}

/* pricing */
.pricing-section{
    padding-top: 100px;
    padding-bottom: 50px;
}
.pricing-wraper{
    width: 80%;
    margin: 0 auto;
    background-color: var(--green);
}
.pricing-roof{
    background-color: var(--green);
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pricing-roof-text{
    color: white;
}
.pricing{
    border: solid 1px var(--green);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
}
.pricing-plan{
    background-color:rgb(245, 245, 245);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
}
.plan-title{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    color: var(--purple-background);
}
.pricing-box{
    width: 100%;
    text-align: center;
    background-color: var(--green);
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.pricing-li{
    line-height: 2;
}
.yes::after{
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
    color: var(--green);
    font-size: 23px;
}
.no::after{
    content: "\f057";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 8px;
    color: rgb(255, 101, 101);
    font-size: 23px;
}

/* login & register sections */
.login-section{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: var(--purple-background);
}
.login-panel{
    background-color: white;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.google-a{
    width: 100%;
    cursor: pointer;
}
.google-button{
    width: 100%;
    background-color: rgb(66,133,244);
    height: 50px;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.google-logo{
    border-radius: 3px;
    width: 49px;
    position: absolute;
    top: 1px;
    left: 1px;
}
.google-login-text{
    font-family: "Nunito", sans-serif;
    color: white;
    font-weight: bold;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.label{
    font-family: "Nunito", sans-serif;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 20px;
}
.input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: solid 1px rgb(190, 190, 190);
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}
.input::placeholder {
    font-size: 20px;
    color:  rgb(190, 190, 190);
    font-family: "Nunito", sans-serif;
}
.input:focus {
    outline: none;
    border-color: var(--purple-background);
    background-color: #f4f0ff;
}
.input-wraper{
    position: relative;
}
.fa-eye, .eye-slash{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}


/* font-family: "Nunito", sans-serif;           most normal

/* font-family: "Balsamiq Sans", sans-serif;    soso normal

/* font-family: "Comic Neue", cursive;          normal - not normal

/* font-family: "Patrick Hand", cursive;        too much












/* footer */
footer{
    background-color: var(--purple-background);
}
.footer-wraper{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Nunito", sans-serif;
}
.footer-title{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--green);
}
.footer-ul li a{
    color: white;
    line-height: 3;
}
.footer-ul li a:hover{
    color: var(--green);
}
.footer-media{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.fa-brands{
    font-size: 30px;
    cursor: pointer;
}
.fa-brands:hover{
    color: var(--green);
}
.copyright{
    text-align: center;
    padding-bottom: 20px;
}